body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 30px;
  font-weight: 100px;
  height: 28px;
  line-height: 28px;
  margin: 0;
}
img {
  border-radius: 20px;
  opacity: 0.8;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}
form {
  color: #878787;
  padding: 20px 1px;
  margin-bottom: 10px;
}

li {
  color: #878787;
  font-size: 16px;
  list-style: none;
  text-transform: capitalize;
}
ul {
  margin: 0 0 15px;
  padding: 0;
}
.sunrise-sunset {
  color: #878787;
  font-size: 16px;
  margin-left: 20px;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 20px;
}
.temperature {
  font-size: 60px;
  line-height: 1px;
  font-weight: 400px;
}
.units {
  position: relative;
  top: -34px;
}

.feels {
  font-size: 13px;
}
